extends ./layout.pug
block content
  h1.text-xs-center Configuration
  p.lead Please specify the Device parameters
  form(method='post',action='/configuration/done')
    .form-group
      label(for='urlinput') IoT Portal URL
      input#urlinput(type='url' name='portalurl' placeholder='Remember to use https' value=portalurl).form-control
    if error && error.length
      .form-group.has-danger
        label.form-control-label(for='name') Name
        input#name(type='text' name='name' placeholder='Please enter a unique name for the device').form-control
        span.form-control-feedback #{error}
    else
      .form-group
        label(for='name') Name
        input#name(type='text' name='name' placeholder='Please enter a unique name for the device').form-control
    .form-group
      label(for='location') Location
      select#location.form-control(name='location')
        each loc in data.Locations
          option(value=loc.LocationId) #{loc.Country} - #{loc.City}
    .form-group
      label(for='software') Software
      select#software.form-control(name='software')
        each sw in data.Software
          option(value=sw.SoftwareId) Version #{sw.SoftwareVersion}
    .form-group
      label(for='hardware') Hardware
      select#hardware.form-control(name='hardware')
        each hw in data.Hardware
          option(value=hw.HardwareId) Board: #{hw.Board}, Camera: #{hw.Camera}
    button(type='submit').btn.btn-primary Submit
